@font-face {
  font-family: 'Shabnam';
    font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Shabnam.eot');
  /* IE9 Compat Modes */
  src: url('../assets/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/Shabnam.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/Shabnam.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../assets/fonts/Shabnam.ttf') format('truetype'),
    /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Shabnam',
    '-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
}
